/* Fade out current container */
.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 0.3s linear;
}

.fade-leave-to {
  opacity: 0;
}

/* Fade in the next container */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.3s linear;
}

.fade-enter-to {
  opacity: 1;
}
